body{

    background-color: #666666;
    font-family: 'Roboto Slab', serif;
}



.portada{
    background-image: url("./img/computer-336628_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    margin: 0;

}



.titulo{

    margin: 1em;
    padding: 1em;
    background-color: grey;
    border-radius: 18px;
    text-align: center;
    color: white;
    font-size: 14px;

}

.subtitulo h1{

    margin: 1em;
    /*
    margin-top: 2em;
    */
    padding: 1em;
    background-color: hsl(210, 6%, 6%, 0.5);
    border-radius: 18px;
    text-align: center;
    color: white;
    font-size: 1em;



}

.separador{

    margin: 0;
    padding: 1em;
    width: 100%;
    background-color: #212B31;
    text-align: center;
    color:white;

}

.separador h1{

    font-size: 1em;

}

.bloque{
    background-color: #4F5760;
    height: 8em;
    padding: 1em;
}

.bloque p{
    font-size: 0.5em;
    text-align: justify;
    color: white;
}

.bloque1{

    background-image: url("./img/tea-time-3240766_960_720.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


.bloque2{

    background-image: url("./img/business-2717063_960_720.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconos{

    text-align: center;
    margin-top: 2em;
    font-size: 12px;
}

    
.iconos .imagenes{
    
    width: 40px;
    height: 40px;
}





/*
////
///FOOTER
///
*/

.footer{

    background-color: #212B31;
    color: white;
    font-size: 8px;
    padding: 1em;

}


.inicial{

    text-align: right;
    margin-top: 1em;
    padding-right: 0;
}


.copy{

    text-align: left;
    margin-top: 3em;
}

.imagenFooter{

    text-align: right;
}


.textoFoter{
    text-align: center;


}
.textoFoter p{
    margin: 1em;

}

.textoFoter h1{
    font-size: 9px;
    margin: 1em;

 }
 
/*
////
///MENU
///
*/
.menu{


    background-color: #2196F3;
    height: 100%;


}



.iconos{

    padding: 1em;
    margin: 0;

}

.SVG{

    margin: 0;


}
.flecha{


    transform: rotate(180deg);
    position: relative;
    bottom: 2em;
    padding: 1em;

}

/*
###############
############
#########   TABLET 768px
#########
#######
*/
@media (min-width: 768px) {

    body{

        background-color: #666666;
    
    }
    
    
    
    .portada{
        background-image: url("./img/computer-336628_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6em;
        margin: 0;
        padding-bottom: 15em;
    
    }
    
    
    
    .titulo{
        margin: 1em;
        padding: 1em;
        background-color: grey;
        border-radius: 18px;
        text-align: center;
        color: white;
        font-size: 14px;

        position: relative;
        top: 5em;

    }
    .alinear{
        text-align: center;


    }
    .subtitulo h1{
    
        text-align: center;
        font-size: 2.5em;
        text-align: center;
    
    
    }
    
    .separador{
    
        margin: 0;
        padding: 1em;
        width: 100%;
        background-color: #212B31;
        text-align: center;
        color:white;
        font-size: 1em;
    
    
    }
    
    .bloque{
        background-color: #4F5760;
        height: 8em;
        height: 15em;
    }
    
    .bloque1{
    
        background-image: url("./img/tea-time-3240766_960_720.jpg");
        background-size: cover;
        height: 15em;
        text-align: center;
    }
    
    
    .bloque2{
    
        background-image: url("./img/business-2717063_960_720.jpg");
        background-size: cover;
        height: 15em;
    }

    .bloque p{
        font-size: 1.2em;

    }
    
    .iconos{
        font-size: 12px;
    }
    
    .iconos .imagenes{
        margin: 2em;
        margin-top: 10em;
        width: 80px;
        height: 80px;
    }
    
    
    
    /*
    ////
    ///FOOTER
    ///
    */
    
    .footer{
        margin-top: 10em;
        background-color: #212B31;
        color: white;
        font-size: 8px;
        padding: 5em;
    
    }
    
    
    .inicial{
    
        text-align: right;
        margin-top: 1em;
        padding-right: 0;
    }
    
    
    .copy{
    
        text-align: left;
        margin-top: 3em;
    }
    
    .imagenFooter{
    
        text-align: right;
    }
    
    
    .textoFoter{
        text-align: center;
    
    
    }
    .textoFoter p{
        margin: 1em;
    
    }
    
    .textoFoter h1{
        font-size: 9px;
        margin: 1em;
    
     }
     
    /*
    ////
    ///MENU
    ///
    */
    .menu{
    
        background-color: #2196F3;
        border-radius: 180px;

        height: 18em;
        width: 60px;

        position: fixed; /* Set the navbar to fixed position */
        top: 0;
        right: 0;
        margin: 1em;
        margin-top: 12em;
        /*
                width: 8em;
        float: right;
    */
    
    }
    
    
    .iconos{
    
        padding: 0em;
        margin: 0;
        width: 100%;
    
    }
    
    .SVG{
        margin: 1em;
    
    
    }
    .flecha{
    
    
        transform: rotate(90deg);
        position: relative;
        right: 2em;
        padding: 1em;
    
    }
}


/*
###############
############
#########   PC 1024px
#########
#######
*/
@media (min-width: 1024px) {

    body{

        background-color: #666666;
    
    }
    
    
    
    .portada{
        background-image: url("./img/computer-336628_960_720.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12em;
        margin: 0;
        padding-bottom: 36em;
    
    }
    
    
    
    .titulo{
        margin: 1em;
        padding: 1em;
        background-color: grey;
        border-radius: 18px;
        text-align: center;
        color: white;
        font-size: 14px;

    }
    
    .separador{
    
        margin: 0;
        padding: 1em;
        width: 100%;
        background-color: #212B31;
        text-align: center;
        color:white;
        font-size: 8px;
    
    
    }
    
    .bloque{
        background-color: #4F5760;
        height: 8em;
        height: 29em;

    }
    
    .bloque1{
    
        background-image: url("./img/tea-time-3240766_960_720.jpg");
        background-size: cover;
        height: 29em;
        display: flex;
        align-items: center;
    }
    
    
    .bloque2{
    
        background-image: url("./img/business-2717063_960_720.jpg");
        background-size: cover;
        height: 29em;
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .bloque1 h1, .bloque2 h1{
    
        font-size: 2em;
    }

    .bloque p{
        font-size: 2em;

    }
    
    .iconos{
        font-size: 12px;
        margin-top: 10em;

    }
    
    .iconos .imagenes{
        width: 80px;
        height: 80px;
        margin-top: 10em;
    }
    
    
    
    /*
    ////
    ///FOOTER
    ///
    */
    
    .footer{
    
        background-color: #212B31;
        color: white;
        font-size: 8px;
        padding: 5em;
        margin-top: 10em;
    
    }
    
    
    .inicial{
    
        text-align: right;
        margin-top: 1em;
        padding-right: 0;
        height: 16em;
        width: 15em;
    }
    
    
    .copy{
    
        text-align: left;
        margin-top: 3em;
        height: 4em;
        width: 4em;
        position: relative;
        top:4em
    }
    
    .imagenFooter{
    
        text-align: right;
    }
    
    
    .textoFoter{
        text-align: center;
    
    
    }
    .textoFoter p{

        font-size: 1.2em;
    
    }
    
    .textoFoter h1{
        font-size: 2em;
        margin: 1em;
    
     }
     
    /*
    ////
    ///MENU
    ///
    */
    .menu{
    
        background-color: #2196F3;
        border-radius: 180px;

        height: 18em;
        width: 60px;

        position: fixed; /* Set the navbar to fixed position */
        top: 0;
        right: 0;
        margin: 1em;
        margin-top: 12em;
        /*
                width: 8em;
        float: right;
    */
    
    }
    
    
    .iconos{
    
        padding: 0em;
        margin: 0;
        width: 100%;
    
    }
    
    .SVG{
        margin: 1em;
    
    
    }
    .flecha{
    
    
        transform: rotate(90deg);
        position: relative;
        right: 2em;
        padding: 1em;
    
    }
    
    .SVG:hover{

        transform: scale(1.2);
        filter: invert(100%) sepia(46%) saturate(954%) hue-rotate(235deg) brightness(107%) contrast(97%);
    
    }

 
    
    
}
